table {width: 65%;
		margin: 20px auto;
		border-collapse: collapse; /* border-collapse là cách hiển thị của đường viền, chỉ được sử dụng trong table*/
		font-size: 18px;}
    

th {background-color: #333;
    color: white;
	padding: 10px;}
    

td {border: 1px solid #ddd;
    padding: 8px;
	text-align: center;}
    

tr:nth-child(even) {background-color: #f2f2f2;}	/* tr:nth-child(even) dùng để khai báo nếu hàng trong bảng đó là hàng số chẵn,
												   tr:nth-child(old) để khai báo hàng số lẻ*/
	

tr:hover {background-color: #ddd;}