.icon-img {width: 40px;
		height: 40px;
		margin: 10px;
		transition: transform 0.3s ease, opacity 0.3s ease;
		cursor: pointer;}
    

.icon-img:hover {transform: scale(1.2);
				opacity: 0.8;}
    
